.header {
	padding: 15px;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 65px;
			height: 65px;
		}
		h3 {
			font-size: 30px;
			font-weight: 600;
			color: aliceblue;
		}
		.buttondiv {
			margin: 15px;
		}
	}
}
